*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

p{
    font-size:3rem ;
    color: green;
    font-family: monospace;
}
