*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: rgb(22, 22, 22);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
@property --rotate {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
@keyframes borderAnimate {
    from{
        --rotate: 0deg;
    }

    to {
        --rotate: 360deg;
    }
}
.box{
    max-width: 300px;
    padding-inline: 10px;
    padding-bottom: 10px;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 15px;
    margin: 10px;
    animation: borderAnimate 5s;
    animation-iteration-count: infinite;
}

.box img { 
    width: 100%;
}
.box1{
    /* box-shadow: 0 0 60px rgb(255, 242, 0); */
    background: 
    linear-gradient(black) padding-box,
    conic-gradient(from var(--rotate),black,black,black,rgb(255, 255, 0),black) border-box;
    border: 5px solid rgba(255, 242, 0, 0);
}

.box2{
    /* box-shadow: 0 0 60px rgb(0, 136, 255); */
    background: 
    linear-gradient(black) padding-box,
    conic-gradient(from var(--rotate),black,black,black,rgb(0, 136, 255),black) border-box;
    border: 5px solid rgba(255, 242, 0, 0);
}

.box3{
    /* box-shadow: 0 0 60px rgb(255, 136, 0); */
    background: 
    linear-gradient(black) padding-box,
    conic-gradient(from var(--rotate),black,black,black,rgb(255, 136, 0),black) border-box;
    border: 5px solid rgba(255, 242, 0, 0);
}